# Git
.git
.gitignore
.DS_Store

# Test & CI
tests
coverage
.vscode
.github
.prettierrc

# Dev Files
smark.config.js
custom.smark.js
example.smark
hello.html
hello.smark
output.html
output.md
output.mdx
sample.js

# Files & Folders
node_modules
assets
examples

# Documentation
docs

# Todo
todo.smark