@import "./reset.css";

body { font-family: system-ui, sans-serif; line-height: 1.6; max-width: 60rem; margin: auto; padding: 1rem; }
html.dark { background: #16161d; color: #eee; }
nav { padding-left: 2rem; background: url("../assets/moon.svg") no-repeat left center / 1.5rem; }
